body {
  height: 100vh;
  width: 100vw;
}

#canvas {
  background-color: #000;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.damage {
  position: absolute;
  z-index: 1;
  width: 32px;
  height: 32px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: damage 500ms linear forwards;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;

  background: url(./assets/damage.png) no-repeat;
  background-size: cover;
}

.box-canvas{
  position: relative;
  width: fit-content;
  height: 100%;
  overflow: hidden;
}

.money{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  z-index: 5;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

.box-story{
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.button {
  padding: 10px 20px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 8px;
}

.stage-button {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 8px;
  padding: 10px 20px;
}

.stages{
  display: flex;
  gap: 10px;
  overflow: auto;
  padding: 10px;
}

.stages::-webkit-scrollbar {
  height: 15px;
}

.stages::-webkit-scrollbar-track {
  background: transparent;
}

.stages::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.active {
  border: 1px solid red;
}

.info{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

.life{
  position: absolute;
  bottom: 5px;
  width: 100%;
  border: 1px solid #fff;
  height: 15px;
  text-align: center;
}

.life-bar{
  width: 50%;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.life-quantity{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  z-index: 2;
  font-weight: bold;
}

@keyframes damage {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(150%, -150%);
  }
}